{% extends "entries/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8 mt-4">

    <a href="{% url 'blog-home' %}">Back to Home</a>
    
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">{{ object.entry_title }}</h3>
        <p class="card-text">{{ object.entry_text|linebreaks }}</p>
      </div>
      <div class="card-footer text-muted">
        Posted on {{ object.entry_date }} by
        <a href="#">{{ object.entry_author }}</a>
      </div>
    </div>
    <hr>
    <form action="{% url 'like_entry' object.pk %}"
    method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" name="entry_likes">Like</button>
    </form>

  </div>
  {% endblock %}